<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="'siteadmin/layout/common_layout'">
<head>
    <link href="/assets/templates/admin/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/templates/admin/apps/css/inbox.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/vendors/bootstrap.table/1.9.1/bootstrap-table.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/vendors/jquery.loadmask/jquery.loadmask.css" rel="stylesheet" type="text/css" />
</head>
<body>
<style type="text/css" media="print">
    @page { size: landscape; }
</style>
<!-- BEGIN CONTENT -->
<div layout:fragment="page-content" class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" id="container-plan">
        <div class="inbox">
            <div class="row">
                <div class="col-md-12">
                    <div class="inbox-body">
                        <div class="inbox-content">
                            <div class="portlet-body">
                                <div class="row form-group">
                                    <label class="control-label col-lg-2 col-md-3 col-sm-4" style="margin-top:10px; width: 120px;">NS Phụ Trách</label>
                                    <div class=" col-lg-2 col-md-3 col-sm-4">
                                        <select class="form-control" name="staffUserNo">
                                            <option value="">Tất cả</option>
                                            <option th:each="user : ${userList}" th:value="${user.userNo}" th:text="${user.name}"></option>
                                        </select>
                                    </div>
                                    <label class="control-label col-lg-2 col-md-3 col-sm-4" style="width: 90px;margin-top:10px;">Từ Ngày</label>
                                    <div class=" col-lg-2 col-md-3 col-sm-4">
                                        <div class="input-group">
                                            <div class="input-group " >
                                                <div class="input-group-addon"><i class="fa fa-calendar-check-o text-primary" aria-hidden="true"></i></div>
                                                <input id="start-date" name="date" type="text" class="form-control" placeholder="Ngày tháng">
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-lg-2 col-md-3 col-sm-4">
                                        <div class="input-group">
                                            <div class="input-group " >
                                                <div class="input-group-addon"><i class="fa fa-calendar-check-o text-primary" aria-hidden="true"></i></div>
                                                <input id="end-date" name="date" type="text" class="form-control" placeholder="Ngày tháng">
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-sm-1">
                                        <button type="button" class="btn green btn-outline" id="btn-search">
                                            <i class="fa fa-search"></i> Tim
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group" style="overflow: hidden;">
                                    <button type="button" class="btn green btn-outline pull-right" id="btn-print">
                                        <i class="fa fa-print"></i> In Danh Sách
                                    </button>
                                </div>
                                <table class="table-plan"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

<div style="display: none;" layout:fragment="page-scripts">
    <script src="/assets/vendors/jquery.print/jQuery.print.min.js"></script>
    <script src="/assets/templates/admin/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="/assets/templates/admin/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.vi.min.js" type="text/javascript"></script>
    <script src="/assets/vendors/bootstrap.table/1.9.1/bootstrap-table.min.js" type="text/javascript"></script>
    <script src="/assets/vendors/bootstrap.table/1.9.1/locale/bootstrap-table-vi-VN.js" type="text/javascript"></script>
    <script src="/assets/vendors/icheck/icheck.min.js" type="text/javascript"></script>
    <script src="/assets/vendors/jquery.tmpl/1.4.2/jquery.tmpl.min.js" type="text/javascript"></script>
    <script src="/assets/applications/siteadmin/scripts/plan/index.js" type="text/javascript"></script>
</div>
</body>
</html>