
.attend_chk .form-control{
	border-radius:0;
}

@media (min-width: 768px){
	.form-inline .form-control {
		width:calc(100% - 100px);
	}
	.form-inline .form-group{
		width:100%;
	}
}
.attend_chk .form-control{
	width:calc(100% - 100px);
	display:inline-block;
}