.portlet.light {
    padding: 0 !important;
}

.portlet>.portlet-title>.nav-tabs {
    float: left !important;
}
#btn-search-file, #btn-lesson-iamge-search-file{
    cursor: pointer;
}
#form-member-join-step, #content-verification, #form-member-info, #form-join-complete {
    padding: 20px 50px !important;
    border: 1px solid #e7ecf1;
    border-top: none;
    margin-bottom: 20px;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

#form-member-join-step .form-body , #form-member-info .form-body , #form-join-complete .form-body {
    height: 500px;
}

.portlet.light .portlet-body {
    padding-top: 0 !important;
}

.portlet>.portlet-title {
    margin-bottom: 0 !important;
}

.input-provision-name {
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #c2cad8;
    margin: 0 20px;
}

#form-provision-actions {
    border: 1px solid #e7ecf1;
    border-bottom: none;
    border-top: none;
}

#form-provision-actions .form-body{
    padding: 10px 25px 0px 12px;
}



.well {
    background-color: #ffffff !important;
    border: 1px solid #dae2ea !important;
}

.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
}
#form-golflesson-mgr-search{
    margin: 10px 0 0 0;
}
#form-golflesson-mgr-search legend {
    width: 40px !important;
}
/*#form-golflesson-mgr-search label {*/
    /*width: 150px!important;*/
/*}*/
/*#form-golflesson-mgr-search .col-md-4 {*/
    /*width: 260px!important;*/
    /*margin-right: 20px;*/
/*}*/
/*#form-golflesson-mgr-search .col-md-8{*/
    /*width: 691px;*/
/*}*/
#form-select-verification-method legend {
    width: 120px !important;
}

#form-select-verification-method .form-body {
    padding-left: 110px;
}

.select-method-verification{
    margin-right: 20px;
}

.label-complete-padding {
    padding-left: 20px;
}

.label-enter-member-info {
    opacity: 0.3;
}

#container-lesson-settings{
    padding: 20px 0px;
}
#container-lesson-settings .row{
    margin-left: 0px;
    margin-right: 0px;
}
.none-padding{
    padding: 0px;
}
.container-lesson-mgr-action .btn{
    margin-right: 5px;
}
#container-lesson-settings .border-untop{
    padding: 6px 0px;
}
#container-lesson-settings .border-untop .btn{
    float: right;
    margin-right: 10px;
}
.container-setting-header{
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
}
.container-lesson-group-settings{
    /*padding: 0 50px;*/
}
.pagination-detail{
    display: none!important;
}
.inbox .inbox-content {
    overflow: hidden;
}
.pull-right.pagination{
    /*margin-left: auto!important;*/
    /*margin-right: auto!important;*/
}
.margin-right-10{
    margin-right: 10px;
}
/*#container-user-agreement .bootstrap-table .fixed-table-container {*/
    /*border-top: none;*/
/*}*/
#container-lesson-settings .bootstrap-table .table {
    border-bottom: 0px solid #ddd!important;
}

#container-lesson-settings .fixed-table-container {
    border: 0px solid #ddd!important;
}
#container-lesson-settings  .fixed-table-pagination{
    height: 54px;
}

.text-align-left{
    text-align: left!important;
}
.help-msg{
    color: #c6c6c6;
}
.error{
    border: 1px solid #ff5b49;
}
textarea {
    resize: none;
}
.container-setting-file .glyphicon{
    display: none!important;
}

.container-lesson-data-list{
    margin: 10px 0px;
}
.container-lesson-data-list .fixed-table-container thead th {
    border-left: 1px solid #ddd!important;
}
.container-lesson-data-list .fixed-table-container tbody td {
    border-left: 1px solid #ddd!important;
    border-bottom: 1px solid #e7ecf1!important;
}

#table-golflesson-data tr td{
    cursor: default!important;
}