.report-page-title{
    text-align: center;
    font-size: 26px;
}
.sumary-row{
    background-color: #ffffe0;
    font-weight: bold;
}
.table-report .cell-header{
    width: 160px;
}
.table-report td{
    text-align: right;
}