<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.namowebiz.mugrun.applications.siteadmin.dao.user.UserAddItemMapper">
    <resultMap id="userAddItem" type="com.namowebiz.mugrun.applications.siteadmin.models.user.UserAddItem">
        <id column="item_no" property="itemNo"/>
        <result column="item_name" property="itemName"/>
        <result column="item_type" property="itemType"/>
        <result column="view_order" property="viewOrder"/>
        <result column="required_yn" property="requiredYn"/>
        <result column="help_msg" property="helpMsg"/>
        <result column="default_value" property="defaultValue"/>
        <result column="reg_date" property="regDate"/>
        <result column="reg_user_no" property="regUserNo"/>
    </resultMap>


    <resultMap id="userAddItemVO" extends="userAddItem" type="com.namowebiz.mugrun.applications.siteadmin.models.user.UserAddItemVO">
        <result column="item_value" property="itemValue"/>
    </resultMap>

    <select id="list" resultMap="userAddItemVO" parameterType="map">
        SELECT *, default_value AS item_value
        FROM user_add_item
        <include refid="whereClause"/>
        ORDER BY view_order ASC
        <if test="pageSize != null">
            LIMIT #{startIndex}, #{pageSize}
        </if>
    </select>

    <select id="getUserItemsByUserNo" resultMap="userAddItemVO" parameterType="long">
        SELECT item.*, addInfo.item_value
          FROM user_add_item item
            LEFT OUTER JOIN user_add_info addInfo ON item.item_no = addInfo.item_no AND addInfo.user_no = #{userNo}
        ORDER BY view_order ASC
    </select>

    <sql id="whereClause">
        <where>
            1 = 1
            <if test="itemNo != null">
                AND item_no = #{itemNo}
            </if>
        </where>
    </sql>


</mapper>