<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div id="container-usergroup-grouplist">
    <!--[Start] UserGroup grid-->
    <div class="inbox-sidebar">
        <table class="table table-fixed table-list-header">
            <tbody>
            <tr class="table-header-actions">
                <td class="p-left p-right">
                    <button type="button" class="btn btn-outline green pull-right btn-add"><i class="fa fa-user-plus"></i> Tạo mới</button>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="table-list-content"></table>
    </div>
    <!--[End] UserGroup grid-->

    <!--[Start] dialog 그룹정보-->
    <div id="model-groupList-addGroup" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-green bg-font-green">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" style="text-align: left;">Tạo mới nhóm thành viên</h4>
                </div>
                <div class="modal-body">
                    <form id="form-groupList-addGroup" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-2 control-label">Tên nhóm:</label>
                            <div class="col-xs-6 controls">
                                <input name="userGroupName" type="text" maxlength="256" class="form-control form-control-solid" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-2 control-label"></label>
                            <div class="col-xs-10 controls error-response">

                            </div>
                        </div>
                        <input type="hidden" name="userGroupNo" value="0"/>
                    </form>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn green btn-dialog-save">Tạo nhóm</button>
                    <button type="button" class="btn default btn-dialog-cancel" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>
    <!--[End] dialog 그룹정보-->
</div>
</body>
</html>