#table-package-list tbody tr.no-records-found {
    display: none;
}

.pointer-click-icon{
    cursor: pointer;
}

.search-clear {
    position: relative;
    margin-left: -18px;
    z-index: 1001;
    padding-top: 10px;
}

.padding-top-7 {
    padding-top: 7px;
}

.text-align-left {
    text-align: left !important;
}

.text-align-right {
    text-align: right !important;
}

.inbox-sidebar {
    padding: 0 !important;
    border-bottom: none !important;
}

.inbox .inbox-body {
    padding: 0 !important;
}

.portlet.light {
    padding: 0 !important;
}

.border-bottom-package-list {
    border-bottom: 1px solid #ddd;
}

.list-action-margin-left {
    margin-left: 5px;
}

.list-action-margin-right {
    margin-right: 5px;
}

.list-action-margin {
    margin: 0 5px 0;
}

.table-fixed {
    table-layout: fixed;
    margin-bottom: 0px;
}

.fixed-table-container {
    border: none !important;
    margin-bottom: 58px;
}

#container-package-list .fixed-table-pagination {
    border-bottom: 1px solid #ddd;
    text-align: center;
}

#container-package-list .fixed-table-pagination .pagination-detail {
    display: none;
}

#table-package-list tbody tr, #table-product-list tbody tr, #table-reservation-list tbody tr{
    border-bottom: 1px solid #e7ecf1;
}

.portlet>.portlet-title>.nav-tabs {
    float: left !important;
}

#table-list-action > tbody > tr > td {
    padding: 8px 0 !important;
}

#table-package-list tbody tr td:nth-child(3), #table-package-list tbody tr td:nth-child(4) {
    display: none;
}

.table-category-list tbody tr td:nth-child(1) {
    display: none;
}

#table-package-list tbody tr td.checkbox-item {
    width: 10%;
}

#container-package-settings {
    padding-left: 25px;
}

.padding-top-icheck {
    padding-top: 6px;
}

.container-first-category-list, .container-second-category-list {
    margin: 0 15px;
}

.container-first-category-list .row , .container-second-category-list .row{
    padding: 10px;
}

.container-first-category-list .input-group-addon,  .container-second-category-list .input-group-addon{
    border: none;
    font-size: 25px;
}

#btn-add-first-category, #btn-add-second-category, .btn-category-delete ,
.btn-add-product-option, .btn-remove-product-option{
    color: #777;
}

#table-first-category-list, #table-second-category-list {
    border: none;
}

.section-first-category-list,  .section-second-category-list {
    padding: 0 !important;
}

.section-first-category-list .bootstrap-table .fixed-table-container,
.section-second-category-list .bootstrap-table .fixed-table-container{
    margin-bottom: 0 !important;
}

.txt-category-name {
    padding-left: 10px;
}

#container-product-management .fixed-table-pagination .pagination-detail,
#container-reservation-management .fixed-table-pagination .pagination-detail{
    display: none;
}

#container-product-management .fixed-table-pagination,
#container-reservation-management .fixed-table-pagination{
    margin-top: 10px;
    text-align: center;
}

#table-product-list .btn-edit {
    font-size: 17px;
}

#table-product-list .btn-delete {
    font-size: 19px;
}

#modal-add-product .control-label, #modal-reservation-detail .control-label {
    text-align: left;
    padding-left: 20px;
}

.fileinput-filename {
    width: 140px;
    text-overflow: ellipsis;
    position: absolute;
    white-space: nowrap;
}

#table-product-option-list tbody tr td:nth-child(1), #table-product-option-list thead th:nth-child(1) {
    display: none;
}

#table-product-option-list tbody tr td {
    padding-left: 0 !important;
}

#form-add-product .fixed-table-container, #form-reservation-detail .fixed-table-container {
    margin-bottom: 0 !important;
}

#table-product-option-list .fa-calendar {
    pointer-events: none;
    top: 12px;
    position: absolute;
    margin-left: 45px;
}

#table-product-option-list .glyphicon-plus-sign,
#table-product-option-list .fa-minus-circle{
    font-size: 18px;
    padding-top: 7px;
}

.input-date-time {
    position: relative;
    margin-bottom: 10px;
}

#table-product-option-list tbody tr {
    border-bottom: 1px solid #e7ecf1;
}

#table-product-option-list tbody tr.no-records-found {
    display: none;
}

#table-reservation-detail-info>tbody>tr>td, #table-reservation-user-info>tbody>tr>td {
    border: 1px solid #ddd !important;
}

#form-reservation-detail .bootstrap-table .table>thead>tr>th {
    border: 1px solid #ddd !important;
}

.padding-table-reservation-detail{
    padding-left: 20px;
    padding-right: 15px;
}

.min-width-label-101 {
    min-width: 101px;
}

.container-select-category{
    width: 36%;
}

.container-select-category-modal {
    width: 20%;
}

.select-time-hour{
    width: 54%;
    float: left;
    margin-right: 3%;
}

.input-time-minute {
    width: 43%;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    #modal-add-product .modal-dialog {
        width: 840px;
        margin: 30px auto;
    }
    #modal-reservation-detail .modal-dialog {
        width: 780px;
        margin: 30px auto;
    }
}

@media (min-width: 992px) and (max-width: 1500px) {

    .btn-package-list-action {
        width: 101%;
        font-size: 13px;
        height: 34px;
        overflow: hidden;
    }

}

@media (min-width: 1501px){

    .btn-package-list-action {
        width: 101%;
        font-size: 13px;
        height: 34px;
    }

}

@media (max-width: 992px) {

    .btn-package-list-action {
        width: 100%;
    }

}

@media screen {
    #printSection {
        display: none;
    }
}

@media print {
    body > *:not(#printSection) {
        display: none;
    }
    #printSection, #printSection * {
        visibility: visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:50px;
        width: 780px;
    }
}