<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="DEVELOPMENT_HOME" value="C:\\www\\mugrun\\logs\\"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="localfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${DEVELOPMENT_HOME}application.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</pattern>
        </layout>
    </appender>

    <logger name="com.namowebiz.mugrun.applications" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <!--<appender-ref ref="localfile"/>-->
    </logger>
    <root leve="debug">
        <appender-ref ref="STDOUT"/>
        <!--<appender-ref ref="localfile"/>-->
    </root>
</configuration>