<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <title>AEĐN - Credit</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="lang" th:content="${#locale.getLanguage()}"/>
    <link rel="icon" href="/assets/applications/siteadmin/images/logo.jpg">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css" />
    <link href="/assets/templates/admin/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/templates/admin/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/vendors/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/templates/admin/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="/assets/templates/admin/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />

    <!--date.time picker style-->
    <link href="/assets/templates/admin/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <link href="/assets/templates/admin/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/templates/admin/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/templates/admin/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/templates/admin/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="/assets/templates/admin/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/assets/templates/admin/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="/assets/templates/admin/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/assets/templates/admin/layouts/layout/css/themes/default.min.css">
    <link href="/assets/templates/admin/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <!--custom css-->
    <link href="/assets/applications/siteadmin/custom/custom_mugrun.css" rel="stylesheet" type="text/css" />

    <!--custom css end-->
    <!--<link rel="shortcut icon" href="favicon.ico" />-->

    <!--BEGIN COMMON LAYOUT CSS-->
    <link href="/assets/vendors/bootstrap3.dialog/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/vendors/formvalidation/0.7.0/css/formValidation.min.css" rel="stylesheet" type="text/css" />
    <!--END COMMON LAYOUT CSS-->

    <link href="/assets/applications/siteadmin/css/common/common.css" rel="stylesheet" type="text/css" />
    <script src="/assets/vendors/jquery/2.2.4/jquery-2.2.4.min.js" type="text/javascript"></script>
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top" th:include="siteadmin/layout/common_header"></div>
    <!-- END HEADER -->

    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper superAdmin" th:include="siteadmin/layout/common_sidebar"></div>
        <!-- END SIDEBAR -->

        <!-- BEGIN CONTENT -->
        <div layout:fragment="page-content"></div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->

    <!-- BEGIN FOOTER -->
    <div class="page-footer" th:include="siteadmin/layout/common_footer"></div>
    <!-- END FOOTER -->


<!--[if lt IE 9]>
<script src="/assets/templates/admin/global/plugins/respond.min.js"></script>
<script src="/assets/templates/admin/global/plugins/excanvas.min.js"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->

<script src="/assets/vendors/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/templates/admin/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="/assets/templates/admin/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="/assets/templates/admin/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/assets/templates/admin/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/assets/templates/admin/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="/assets/templates/admin/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->

<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="/assets/templates/admin/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->

<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="/assets/templates/admin/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="/assets/templates/admin/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->

<!-- BEGIN COMMON SCRIPTS -->
<script type="text/javascript" src="/assets/vendors/lodash/3.10.1/lodash.min.js"></script>
<script src="/assets/vendors/sjoop/sjoop.js" type="text/javascript"></script>
<script src="/assets/vendors/momentjs/moment-with-locales.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/assets/vendors/bootstrap3.dialog/js/bootstrap-dialog.min.js"></script>
<script src="/assets/vendors/formvalidation/0.7.0/js/formValidation.min.js" type="text/javascript"></script>
<script src="/assets/vendors/formvalidation/0.7.0/js/framework/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/vendors/formvalidation/0.7.0/js/language/vi_VN.js" type="text/javascript"></script>

<script type="text/javascript" th:src="'/messages/common/client/messages_en.js'"></script>
<script type="text/javascript" th:src="'/messages/siteadmin/client/messages_en.js'"></script>
<script type="text/javascript" src="/assets/applications/mugrun/scripts/mugrun.js"></script>
<script type="text/javascript" src="/assets/applications/siteadmin/scripts/site_admin.js"></script>

<script src="/assets/applications/siteadmin/scripts/common/common-header.js" type="text/javascript"></script>
<script src="/assets/applications/siteadmin/scripts/common/common-sidebar.js" type="text/javascript"></script>
    <script src="/assets/applications/mugrun/scripts/utils.js" type="text/javascript"></script>
<!-- END COMMON SCRIPTS -->

    <div style="display: none;" layout:fragment="page-scripts"></div>

</body>


</html>