<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="'siteadmin/layout/common_layout'">
<head>
    <link href="/assets/templates/admin/apps/css/inbox.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/templates/admin/global/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/templates/admin/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/vendors/bootstrap.table/1.9.1/bootstrap-table.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/vendors/jquery.loadmask/jquery.loadmask.css" rel="stylesheet" type="text/css" />
    <link href="/assets/vendors/icheck/skins/all.css" rel="stylesheet" type="text/css">

    <link href="/assets/applications/siteadmin/css/mail/mail_template_management.css" rel="stylesheet" type="text/css" />
</head>
<body>

<!-- BEGIN CONTENT -->
<div layout:fragment="page-content" class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" id="container-mailTemplate-index">
        <!-- BEGIN PAGE HEADER-->

        <!-- BEGIN PAGE TITLE-->
        <h3 class="page-title" th:text="#{mail.findId.title}"></h3>
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->

        <!--공지사항 테이블 시작-->
        <div class="inbox">
            <form id="form-mailSignup" class="form-horizontal">
                <table class="table">
                    <tbody>
                    <tr>
                        <td class="inbox-form-group">
                            <label class="control-label col-md-2" th:text="#{mail.lable.senderMail}"></label>
                            <div class="controls col-md-6">
                                <input type="text" name="senderMail" class="form-control" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="inbox-form-group">
                            <label class="control-label col-md-2" th:text="#{mail.lable.mailSubject}"></label>
                            <div class="controls col-md-6">
                                <input type="text" name="mailSubject" class="form-control"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="inbox-form-group">
                            <div class="col-md-2">&nbsp;</div>
                            <div class="controls col-md-10">
                                <textarea id="txt-mailTemplate-mailContent" style="width:100%; height:400px;" class="inbox-editor inbox-wysihtml5 form-control" rows="10"></textarea>
                            </div>
                        </td>
                    </tr>
                    <input type="hidden" name="templateNo" value="0"/>
                    <input type="hidden" name="templateType" th:value="${templateType}"/>
                    <tr>
                        <td class="inbox-form-group">
                            <div class="col-md-2">&nbsp;</div>
                            <div class="col-md-10 text-center">
                                <button type="button" id="btn-mailSignup-save" class="btn green" th:text="#{common.btn.save}"></button>
                                <button type="button" id="btn-mailSignup-cancel" class="btn btn-outline green" th:text="#{common.btn.cancel}"></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>

    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

<div style="display: none;" layout:fragment="page-scripts">
    <script src="/assets/vendors/bootstrap.table/1.9.1/bootstrap-table.min.js" type="text/javascript"></script>
    <script src="/assets/vendors/bootstrap.table/1.9.1/locale/bootstrap-table-ko-KR.min.js" type="text/javascript"></script>
    <script src="/assets/templates/admin/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="/assets/vendors/jquery.tmpl/1.4.2/jquery.tmpl.min.js" type="text/javascript"></script>
    <script src="/assets/vendors/jquery.loadmask/jquery.loadmask.min.js" type="text/javascript"></script>
    <script src="/assets/vendors/smarteditor/js/HuskyEZCreator.js" type="text/javascript" charset="utf-8"></script>

    <script src="/assets/applications/siteadmin/scripts/mail/mail_template_management.js" type="text/javascript"></script>
</div>
</body>
</html>