<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="'siteadmin/layout/common_layout'">
<head>
    <link href="/assets/templates/admin/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/templates/admin/apps/css/inbox.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/vendors/bootstrap.table/1.9.1/bootstrap-table.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/vendors/jquery.loadmask/jquery.loadmask.css" rel="stylesheet" type="text/css" />
</head>
<body>

<!-- BEGIN CONTENT -->
<div layout:fragment="page-content" class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" id="container-loan-revenue" th:data-revenue-yn="${user.revenueYn}">
        <div class="inbox">
            <div class="row">
                <div class="col-md-12">
                    <div class="inbox-body">
                        <div class="inbox-content">
                            <div class="portlet-body">
                                <div class="row">
                                    <table class="table table-fixed table-list-header">
                                        <tbody>
                                        <tr class="table-header-title">
                                            <td class="p-left p-right">
                                                <label class="control-label col-md-1 col-sm-2" style="width: 90px;margin-top:10px;">Phụ trách</label>
                                                <div  class="col-md-2" style="padding-left: 0px;">
                                                    <select class="form-control" name="staffUserNo">
                                                        <option value="">Tất cả</option>
                                                        <option th:each="user : ${userList}" th:value="${user.userNo}" th:text="${user.name}"></option>
                                                    </select>
                                                </div>
                                                <label class="control-label col-md-2" style="width: 90px;margin-top:10px;">Từ Ngày</label>
                                                <div  class="col-md-2" style="padding-left: 0px;">
                                                    <div class="input-group " >
                                                        <div class="input-group-addon"><i class="fa fa-calendar-check-o text-primary" aria-hidden="true"></i></div>
                                                        <input id="start-date" name="date" type="text"  class="form-control" placeholder="Ngày tháng">
                                                    </div>
                                                </div>
                                                <label class="control-label col-md-2" style="width: 120px;margin-top:10px;">Đến Ngày</label>
                                                <div  class="col-md-2" >
                                                    <div class="input-group ">
                                                        <div class="input-group-addon"><i class="fa fa-calendar-check-o text-primary" aria-hidden="true"></i></div>
                                                        <input id="end-date" name="date" type="text"  class="form-control" placeholder="Ngày tháng">
                                                    </div>
                                                </div>

                                                <button type="button" class="btn  btn-circle btn-outline green btn-search">
                                                    <i class="fa fa-search"></i> Xem
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="row" style="margin-top: 10px; margin-bottom: 10px; padding-left: 15px; padding-right: 15px;">
                                        <button type="button" class="btn btn-sm btn-circle btn-outline green btn-select-all">
                                            Chọn tất cả
                                        </button>
                                        <label class="control-label bold col-md-6 pull-right blue text-right">Tổng số tiền thu về: <span id="amount">0 VNĐ</span></label>
                                    </div>
                                    <table class="table-loan-revenue"></table>
                                    <div class="row" th:if="${user.revenueYn == true}" style="margin-top: 10px; margin-bottom: 10px; padding-left: 15px; padding-right: 15px; text-align:center;">
                                        <button type="button" class="btn btn-sm btn-circle btn-outline green btn-approve-payment">
                                            <i class="fa fa-check"></i> Duyệt thu tín dụng
                                        </button>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <th:block th:include="siteadmin/customer/popup/popupPaymentDetail"></th:block>

    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

<div style="display: none;" layout:fragment="page-scripts">
    <script src="/assets/templates/admin/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="/assets/templates/admin/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.vi.min.js" type="text/javascript"></script>
    <script src="/assets/vendors/bootstrap.table/1.9.1/bootstrap-table.min.js" type="text/javascript"></script>
    <script src="/assets/vendors/bootstrap.table/1.9.1/locale/bootstrap-table-vi-VN.js" type="text/javascript"></script>
    <script src="/assets/vendors/icheck/icheck.min.js" type="text/javascript"></script>
    <script src="/assets/vendors/jquery.tmpl/1.4.2/jquery.tmpl.min.js" type="text/javascript"></script>
    <script src="/assets/applications/siteadmin/scripts/revenue/loanRevenue.js" type="text/javascript"></script>
</div>
</body>
</html>