<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.namowebiz.mugrun.applications.siteadmin.dao.report.EstimateReportMapper">
    <resultMap id="estimateReport" type="com.namowebiz.mugrun.applications.siteadmin.models.report.EstimateReport">
        <result column="loanRevenue" property="loanRevenue"/>
        <result column="salaryCost" property="salaryCost"/>
        <result column="loanProvide" property="loanProvide"/>
        <result column="staffUserName" property="staffUserName"/>
        <result column="townName" property="townName"/>
        <result column="month" property="month"/>
        <result column="year" property="year"/>
        <result column="amount" property="amount"/>
        <result column="date" property="date"/>
        <result column="revenue" property="revenue"/>
        <result column="profit" property="profit"/>
        <result column="contract_code_List" property="contractCodeList"/>

    </resultMap>



    <select id="getEstimateReport" resultMap="estimateReport" parameterType="map">
        <![CDATA[
        SELECT * FROM (
            (
              SELECT
                    SUM(D.amount) loanRevenue
                FROM loan_detail D
                INNER JOIN Loan L ON L.loan_no = D.loan_no
                WHERE L.delete_yn = 0 AND L.status IN ('A', 'R')
                    AND D.delete_yn = 0
                    AND D.confirm_date IS NULL
                    AND D.end_date >= DATE(#{startDate})
                    AND D.end_date <= DATE(#{endDate})
            ) AS loanRevenue,
            (
              SELECT
                    SUM(D.profit) profit
                FROM loan_detail D
                INNER JOIN Loan L ON L.loan_no = D.loan_no
                WHERE L.delete_yn = 0 AND L.status IN ('A', 'R')
                    AND D.delete_yn = 0
                    AND D.confirm_date IS NULL
                    AND D.end_date >= DATE(#{startDate})
                    AND D.end_date <= DATE(#{endDate})
            ) AS profit,

            (SELECT (SUM(salary) + IFNULL(SUM(allowance),0) +  IFNULL(SUM(extra_cost), 0)) AS salaryCost FROM salary_mst WHERE delete_yn = 0 AND LAST_DAY(CURRENT_DATE()) BETWEEN DATE(#{startDate}) AND DATE(#{endDate}) ) AS salaryCost,
            (SELECT SUM(loan_amount) loanProvide FROM loan WHERE delete_yn = 0 AND start_date >=  DATE(#{startDate}) AND start_date <= DATE(#{endDate}) ) AS loanProvide
        )
         ]]>
    </select>

    <select id="getLoanAmountByStaff" resultMap="estimateReport" parameterType="map">
        SELECT U.name AS staffUserName, SUM(detail.capital) amount
            FROM Loan L
            INNER JOIN loan_detail detail ON L.loan_no = detail.loan_no
            LEFT OUTER JOIN user_info U ON U.user_no = L.staff_user_no
        WHERE
            L.delete_yn = 0 AND L.status IN ('A', 'R')
            AND (detail.delete_yn = 0 AND detail.status != 'P')
            GROUP BY L.staff_user_no
    </select>

    <select id="getLoanAmountByLocation" resultMap="estimateReport" parameterType="map">
        SELECT T.name townName, SUM(detail.capital) amount
            FROM Loan L
            INNER JOIN loan_detail detail ON L.loan_no = detail.loan_no
            INNER JOIN customer C ON C.customer_no = L.customer_no
            LEFT OUTER JOIN town T ON T.town_no = C.town_no
        WHERE
            L.delete_yn = 0 AND L.status IN ('A', 'R')
            AND (detail.delete_yn = 0 AND detail.status != 'P')
            GROUP BY C.town_no
    </select>

    <select id="getReportRevenueProfitByDay" resultMap="estimateReport" parameterType="map">
        <![CDATA[
        SELECT A.date, SUM(A.amount) AS revenue, SUM(A.profit) AS profit
        FROM (
            SELECT detail.confirm_date date, SUM(detail.amount) amount, SUM(detail.profit) profit
                FROM Loan L
                INNER JOIN loan_detail detail ON L.loan_no = detail.loan_no
            WHERE
                L.delete_yn = 0 AND L.status IN ('A', 'R')
                AND (detail.delete_yn = 0 AND detail.status = 'P'  AND detail.confirm_date IS NOT NULL  AND detail.confirm_date <= CURRENT_DATE())
                GROUP BY detail.confirm_date

        UNION ALL

            SELECT DATE(L.finish_date) date,
                (IFNULL(L.finish_return_amount,0) + IFNULL(L.extra_amount, 0)) AS amount,
                (IFNULL(L.finish_return_amount,0) + IFNULL(L.extra_amount, 0) - SUM(detail.capital)) AS profit
                FROM Loan L
                INNER JOIN loan_detail detail ON L.loan_no = detail.loan_no
            WHERE
                L.delete_yn = 0 AND L.status = 'F'
                AND (detail.delete_yn = 0 AND detail.status != 'P')
                GROUP BY DATE(L.finish_date)
        ) A
        WHERE A.date >= DATE(#{startDate}) AND A.date <= DATE(#{endDate})
        GROUP BY A.date
        ORDER BY A.date ASC
        ]]>
    </select>

    <select id="getStopLoanRevenue" resultMap="estimateReport" parameterType="map">
        <![CDATA[
        SELECT IFNULL(B.revenue, 0) revenue,  IFNULL(B.profit, 0) profit FROM
        (
            SELECT SUM(A.amount) AS revenue, SUM(A.profit) AS profit
            FROM (
                SELECT DATE(L.finish_date) date,
                    (IFNULL(L.finish_return_amount,0) + IFNULL(L.extra_amount, 0)) AS amount,
                    (IFNULL(L.finish_return_amount,0) + IFNULL(L.extra_amount, 0) - SUM(detail.capital)) AS profit
                    FROM Loan L
                    INNER JOIN loan_detail detail ON L.loan_no = detail.loan_no
                WHERE
                    L.delete_yn = 0 AND L.status = 'F'
                    AND (detail.delete_yn = 0 AND detail.status != 'P')
                    GROUP BY DATE(L.finish_date)
            ) A
            WHERE A.date >= DATE(#{startDate}) AND A.date <= DATE(#{endDate})
        ) B
        ]]>
    </select>

    <select id="getLoanRevenue" resultMap="estimateReport" parameterType="map">
        <![CDATA[
        SELECT IFNULL(B.revenue, 0) revenue,  IFNULL(B.profit, 0) profit FROM
        (
            SELECT SUM(A.amount) AS revenue, SUM(A.profit) AS profit
            FROM (
                SELECT detail.confirm_date date, SUM(detail.amount) amount, SUM(detail.profit) profit
                    FROM Loan L
                    INNER JOIN loan_detail detail ON L.loan_no = detail.loan_no
                WHERE
                    L.delete_yn = 0 AND L.status IN ('A', 'R')
                    AND (detail.delete_yn = 0 AND detail.status = 'P'  AND detail.confirm_date IS NOT NULL  AND detail.confirm_date <= CURRENT_DATE())
                    GROUP BY detail.confirm_date
            ) A
            WHERE A.date >= DATE(#{startDate}) AND A.date <= DATE(#{endDate})
        ) B
        ]]>
    </select>

    <resultMap id="reportData" type="com.namowebiz.mugrun.applications.siteadmin.models.report.ReportData">
        <result column="amount" property="amount"/>
        <result column="revenue" property="revenue"/>
        <result column="profit" property="profit"/>
        <result column="month" property="month"/>
        <result column="commonCode" property="commonCode"/>
        <result column="commonCodeName" property="commonCodeName"/>
    </resultMap>


    <select id="getLoanRevenueByMonth" resultMap="reportData" parameterType="map">
        <![CDATA[
          SELECT A.ym AS month, SUM(A.amount) AS revenue, SUM(A.profit) AS profit
            FROM (
                SELECT detail.confirm_date date, DATE_FORMAT(detail.confirm_date, '%Y-%m') ym, SUM(detail.amount) amount, SUM(detail.profit) profit
                    FROM Loan L
                    INNER JOIN loan_detail detail ON L.loan_no = detail.loan_no
                WHERE
                    L.delete_yn = 0 AND L.status != 'N'
                    AND (detail.delete_yn = 0 AND detail.status = 'P'  AND detail.confirm_date IS NOT NULL)
                    GROUP BY detail.confirm_date
            ) A
          GROUP BY A.ym
          ORDER BY A.ym desc
          Limit 0, #{limit}
        ]]>
    </select>


    <select id="getReportSalary" resultMap="reportData" parameterType="map">
        <![CDATA[
          SELECT CONCAT(A.year, '-', A.month) month, A.amount FROM (
                SELECT detail.year
                , IF(detail.month < 10, CONCAT('0', detail.month), detail.month) month
                , SUM(detail.salary) + SUM(detail.extra_cost) as amount
                        FROM salary_detail detail
                WHERE
                        detail.status = 'A'
                        GROUP BY detail.year, detail.month
                ORDER BY detail.year DESC, detail.month DESC
            ) A
            ORDER BY A.year DESC, A.month DESC
            limit 0,#{limit}
        ]]>
    </select>

    <select id="getOtherRevenueReport" resultMap="reportData" parameterType="map">
        <![CDATA[
          SELECT
            B.ym AS month, B.revenue_type commonCode, SUM(B.amount) as amount
            , (select common_code_name FROM common_code WHERE common_code = B.revenue_type AND group_code = 'OtherIncome') commonCodeName
            FROM
                (
                    SELECT
                        IFNULL(A.revenue_type, '99') revenue_type,
                        A.amount,
                        A.date,
                        DATE_FORMAT(A.date, '%Y-%m') ym
                    FROM revenue_detail A
                    WHERE A.status = 'A'
                ) B
            WHERE B.ym >= #{startMonthYear} AND B.ym <= #{endMonthYear}
            GROUP BY B.ym, B.revenue_type
        ]]>
    </select>

    <select id="getOtherCostReport" resultMap="reportData" parameterType="map">
        <![CDATA[
          SELECT
                B.ym as month, B.cost_type commonCode, SUM(B.amount) as amount
                , (select common_code_name FROM common_code WHERE common_code = B.cost_type AND group_code = 'OtherCost') commonCodeName
          FROM
            (
                    SELECT IFNULL(A.cost_type, '13') cost_type, A.amount, A.date, DATE_FORMAT(A.date, '%Y-%m') ym
                    FROM cost_detail A
                    WHERE A.status = 'A'
            ) B
            WHERE B.ym >= #{startMonthYear} AND B.ym <= #{endMonthYear}
            GROUP BY B.ym, B.cost_type
        ]]>
    </select>




    <select id="getReportRevenueProfitByMonth" resultMap="estimateReport" parameterType="map">
        <![CDATA[
        SELECT A.month, A.year, SUM(A.amount) AS revenue, SUM(A.profit) AS profit
        FROM (
              SELECT MONTH(detail.confirm_date) month, YEAR(detail.confirm_date) year, SUM(detail.amount) amount, SUM(detail.profit) profit
                    FROM Loan L
                    INNER JOIN loan_detail detail ON L.loan_no = detail.loan_no
              WHERE
                    L.delete_yn = 0 AND L.status IN ('A', 'R')
                    AND (detail.delete_yn = 0 AND detail.status = 'P'  AND detail.confirm_date IS NOT NULL  AND detail.confirm_date <= CURRENT_DATE())
                    GROUP BY MONTH(detail.confirm_date), YEAR(detail.confirm_date)

              UNION ALL
                SELECT MONTH(L.finish_date) month, YEAR(L.finish_date) year,
                    (IFNULL(L.finish_return_amount,0) + IFNULL(L.extra_amount, 0)) AS amount,
                    (IFNULL(L.finish_return_amount,0) + IFNULL(L.extra_amount, 0) - SUM(detail.capital)) AS profit
                    FROM Loan L
                    INNER JOIN loan_detail detail ON L.loan_no = detail.loan_no
                WHERE
                    L.delete_yn = 0 AND L.status IN ('F') AND IFNULL(L.finish_return_amount,0)>0
                    AND (detail.delete_yn = 0 AND detail.status != 'P')
                    GROUP BY MONTH(L.finish_date), YEAR(L.finish_date)
        ) A
        GROUP BY A.month, A.year
        ORDER BY A.year, A.month
        ]]>
    </select>



</mapper>