<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.namowebiz.mugrun.components.modules.signup.dao.ModuleSignupProvisionMapper">
    <resultMap id="moduleSignupProvision" type="com.namowebiz.mugrun.components.modules.signup.models.ModuleSignupProvision">
        <id column="provision_no" property="provisionNo"/>
        <result column="module_no" property="moduleNo"/>
        <result column="provision_name" property="provisionName"/>
        <result column="provision_content" property="provisionContent"/>
        <result column="base_agreement_yn" property="baseAgreementYn"/>
        <result column="view_order" property="viewOrder"/>
        <result column="use_yn" property="useYn"/>
        <result column="indispensable_yn" property="indispensableYn"/>
        <result column="provision_type" property="provisionType"/>
        <result column="reg_date" property="regDate"/>
        <result column="reg_user_no" property="regUserNo"/>
        <result column="mod_date" property="modDate"/>
        <result column="mod_user_no" property="modUserNo"/>
    </resultMap>

    <select id="listProvision" resultMap="moduleSignupProvision" parameterType="string">
        SELECT A.provision_no     AS provisionNo
        , A.module_no        AS moduleNo
        , A.provision_name   AS provisionName
        , A.provision_type   AS provisionType
        , A.provision_content   AS provisionContent
        , A.indispensable_yn   AS indispensableYn
        , A.base_agreement_yn   AS baseAgreementYn
        , A.view_order   AS viewOrder
        , A.use_yn   AS useYn
        , A.reg_date       AS regDate
        , A.reg_user_no    AS regUserNo
        , A.mod_date       AS modDate
        , A.mod_user_no    AS modUserNo
        FROM module_signup_provision A
        WHERE 1 = 1
        <if test="moduleNo != null">
            AND A.module_no = #{moduleNo}
        </if>
        <if test="provisionType != null">
            AND A.provision_type = #{provisionType}
        </if>

        ORDER BY A.view_order
    </select>

    <select id="getProvision" resultMap="moduleSignupProvision" parameterType="long">
        SELECT A.provision_no     AS provisionNo
        , A.module_no        AS moduleNo
        , A.provision_name   AS provisionName
        , A.provision_type   AS provisionType
        , A.indispensable_yn   AS indispensableYn
        , A.provision_content   AS provisionContent
        , A.base_agreement_yn   AS baseAgreementYn
        , A.view_order   AS viewOrder
        , A.use_yn   AS useYn
        , A.reg_date       AS regDate
        , A.reg_user_no    AS regUserNo
        , A.mod_date       AS modDate
        , A.mod_user_no    AS modUserNo
        FROM module_signup_provision A
        WHERE A.provision_no = #{value}
    </select>

    <insert id="addProvision" parameterType="com.namowebiz.mugrun.components.modules.signup.models.ModuleSignupProvision" >
        <![CDATA[
    INSERT INTO module_signup_provision
           (
               provision_no
             , module_no
             , provision_name
             , provision_type
             , provision_content
             , base_agreement_yn
             , view_order
             , use_yn
             , indispensable_yn

             , reg_user_no
             , reg_date
             , mod_date
             , mod_user_no
           )
           VALUES
           (
               #{provisionNo}
             , #{moduleNo}
             , #{provisionName}
             , #{provisionType}
             , #{provisionContent}
             , #{baseAgreementYn}
             , #{viewOrder}
             , #{useYn}
             , #{indispensableYn}
             , #{regUserNo}
             , now()
             , now()
             , #{modUserNo}
           )
  	]]>

        <selectKey resultType="long" keyProperty="provisionNo">
            <![CDATA[
      	SELECT LAST_INSERT_ID() AS provisionNo;
    	]]>
        </selectKey>

    </insert>

    <select id="getMaxViewOrder" resultType="int" parameterType="map">
        SELECT max(view_order)
        FROM module_signup_provision
        WHERE module_no = #{moduleNo};
    </select>

    <delete id="deleteProvision" parameterType="long">
        <![CDATA[
       DELETE FROM module_signup_provision
       WHERE provision_no  = #{value}
    ]]>
    </delete>


    <delete id="deleteByIds" parameterType="map">
        DELETE FROM module_signup_provision
        WHERE provision_no  in
        <foreach item="itemNo" collection="list" open="(" separator="," close=")">
            #{itemNo}
        </foreach>
    </delete>

    <update id="modifyProvision" parameterType="com.namowebiz.mugrun.components.modules.signup.models.ModuleSignupProvision">
        <![CDATA[
      UPDATE module_signup_provision
         SET provision_content     = #{provisionContent}
         , module_no = #{moduleNo}
         , provision_name = #{provisionName}
         , view_order = #{viewOrder}
         , base_agreement_yn = #{baseAgreementYn}
         , indispensable_yn = #{indispensableYn}
         , use_yn = #{useYn}
         , mod_user_no = #{modUserNo}
         , mod_date = now()
       WHERE provision_no = #{provisionNo}
    ]]>
    </update>


</mapper>